html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    width: 100vw;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    display: block;
}

#background {
    z-index: -1;
    position: fixed;
    min-height: 100vh;
    height: auto;
    width: 100vw;
}

#lines {
    margin: 0px;
    position: fixed;
    background-color: lightgray;
    width: 1px;
    min-height: 100vh;
    height: auto;
    opacity: 0.7;
}

.line1 {
    left: calc(50vw - 460px);
}

.line2 {
    left: calc(50vw - 230px);
}

.line3 {
    left: 50vw;
}

.line4 {
    left: calc(50vw + 230px);
}

.line5 {
    left: calc(50vw + 460px);
}
#header {
    margin: 0 20px 0 20px;
    display: grid;
    height: 100px;
    align-items: end;
    width: calc(100vw - 40px);
}

#header-tabs {
    margin: 0;
    font-family: Source Sans Pro;
    font-size: 15px;
    height: auto;
    width: auto;
}

.about-me {
    left: 0;
}

.gallery {
    left: 20vw;
}

#body-wrapper {
    margin: 0 20px 0 20px;
    display: grid;
    justify-items: center;
    height: 100vh;
    width: calc(100vw - 40px);
}

#hello {
    margin: 180px 0 0 0;
    color: rgb(242, 64, 52);
    font-family: Arya;
    font-size: 150px;
    align-self: start;
}