html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    width: 100vw;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Apercu Pro;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    display: block;
}

/* || Background */
#background {
    z-index: -3;
    position: absolute;
    min-height: 100vh;
    height: auto;
    width: calc(100vw - 15px);
}

.lines {
    background-color:rgb(239, 239, 239);
    position: fixed;
    margin: 0px;
    min-height: 100vh;
    height: auto;
    width: 1px;
}

.line1 {
    left: calc(50vw - 460px - 7.5px);
}

.line2 {
    left: calc(50vw - 230px - 7.5px);
}

.line3 {
    left: calc(50vw - 7.5px);
}

.line4 {
    left: calc(50vw + 230px - 7.5px);
}

.line5 {
    left: calc(50vw + 460px - 7.5px);
}

/* || Header */
#header {
    margin: 0;
    height: 80px;
    display: grid;
    align-content: end;
    width: calc(100vw - 15px);
}

.header-tabs {
    font-size: 13px;
    margin: 0;
    top: 60px;
    height: 20px;
    cursor: pointer;
}

#logo {
    color: black;
    position: absolute;
    left: 30px;
    width: 60px;
}

#about-me {
    color: black;
    position: absolute;
    left: calc(100vw - 370px);
    width: 65px;
}

#gallery {
    color: black;
    z-index: 2;
    position: absolute;
    left: calc(100vw - 260px);
    width: 53px;
}

.drop-down {
    z-index: 1;
    position: absolute;
    margin: 20px 0 0 0;
    padding: 15px 0 15px 0;
    opacity: 0%;
    background-color: white;
    top: 0px;
    display: none;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
}

#test {
    z-index: 3;
    position: absolute;
    transition-property: top;
    top: -155px;
    left: calc(100vw - 333.5px);
}

path {
    fill: none;
    stroke: gold;
    stroke-width: 0.5;
    pointer-events: all;
    cursor: pointer;
}

#gallery-drop-down {
    left: calc(100vw - 333.5px);
    height: 100px;
    width: 200px;
}

#gallery:hover ~ #gallery-drop-down {
    display: block;
    animation: drop_down_forward 1s forwards;
}

#gallery:not(:hover) ~ #gallery-drop-down {
    display: block;
    animation: drop_down_backward 1s forwards;
}

#gallery:hover + #test {
    transition-delay: 1s;
    top: 60px;
}

/* path:hover {
    fill: blue;
} */

/* #gallery-drop-down:hover {
    animation: none;
    top: 75px;
    opacity: 100%;
} */

#more {
    color: black;
    position: absolute;
    left: calc(100vw - 150px);
    width: 50px;
}

#gallery-outer {
    z-index: 3;
    margin: 0;
    position: absolute;
    left: calc(100vw - 260px);
    top: -170px;
    height: 20px;
    width: 55px;
}

#gallery-drop-down-outer {
    z-index: 3;
    position: absolute;
    left: calc(100vw - 330px);
    top: -150px;
    height: 150px;
    width: 200px;
}

#more-drop-down-outer {
    z-index: 2;
    position: absolute;
    left: calc(100vw - 205px);
    top: -150px;
    height: 150px;
    width: 150px;
}

#more-drop-down {
    z-index: 1;
    left: calc(100vw - 205px);
    height: 100px;
    width: 150px;
}

.drop-down-tabs {
    z-index: 4;
    font-family: Apercu Mono;
    font-size: 13px;
    margin: 15px 10px 10px 30px;
}

/* .drop-down-tabs:hover {
    background-color: gray;
} */

/* || Content */
#body-wrapper {
    margin: 0;
    display: grid;
    justify-content: center;
    height: 100vh;
    width: calc(100vw - 15px);
}

#introduction {
    margin: 20vh 0 0 0;
    display: grid;
    grid-template-rows: 180px 30vh 20px 50px;
    justify-self: center;
    text-align: center;
    justify-content: center;
}

#greating {
    color: rgb(242, 64, 52);
    font-family: Apercu Pro;
    font-size: 128px;
    margin: 0;
    grid-row-start: 1;
}

#this-is-my-fancy-website {
    font-size: 12px;
    margin: 0;
    grid-row-start: 3;
}

#arrow {
    margin: 10px 0 0 0;
    grid-row-start: 4;
    cursor: pointer;
    height: 42px;
    width: 20px;
    justify-self: center;
}

#arrow-1 {
    background-color: rgb(242, 64, 52);
    top: calc(290px + 50vh);
    left: calc(50vw - 8px);
    position: absolute;
    height: 40px;
    width: 2px;
}

#arrow-2 {  
    border-bottom: solid 2px rgb(242, 64, 52);
    border-right: solid 2px rgb(242, 64, 52);
    top: calc(313px + 50vh);
    left: calc(50vw - 19px);
    position: absolute;
    transform: rotate(45deg);
    transform-origin: 50% 100%;
    height: 12px;
    width: 12px;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fade_out {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0;
        display: none;
        z-index: -1;
    }
}

@keyframes appear {
    from {

    }

    to {
        display: block;
    }
}

@keyframes drop_down_forward {
    from {
        opacity: 0;
        transform: translateY(0);
    }

    to {
        opacity: 100%;
        transform: translateY(65px);
    }
}

@keyframes drop_down_backward {
    from {
        opacity: 100%;
        transform: translateY(65px);
    }

    to {
        opacity: 0;
        transform: translateY(0);
        display: none;
    }
}