html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    width: 100vw;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    display: block;
}

#background {
    z-index: -1;
    position: fixed;
    min-height: 100vh;
    height: auto;
    width: 100vw;
}

#lines {
    margin: 0px;
    position: fixed;
    background-color: lightgray;
    width: 1px;
    min-height: 100vh;
    height: auto;
    opacity: 0.7;
}

.line1 {
    left: calc(50vw - 460px);
}

.line2 {
    left: calc(50vw - 230px);
}

.line3 {
    left: 50vw;
}

.line4 {
    left: calc(50vw + 230px);
}

.line5 {
    left: calc(50vw + 460px);
}
#header {
    margin: 0 20px 0 20px;
    display: grid;
    height: 80px;
    align-content: end;
    width: calc(100vw - 40px);
}

#header-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 4 / span 2;
    grid-column-start: 1;
}

#header-tabs {
    margin: 0;
    top: 60px;
    font-family: Source Sans Pro;
    font-size: 15px;
    height: auto;
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 20px;
    width: 60px;
}

.about-me {
    position: absolute;
    left: calc(100vw - 370px);
    width: 60px;
}

.gallery {
    position: absolute;
    left: calc(100vw - 260px);
    width: 45px;
}

.resume {
    position: absolute;
    left: calc(100vw - 170px);
    width: 50px;
}

#body-wrapper {
    margin: 0 20px 0 20px;
    display: grid;
    justify-items: center;
    height: 100vh;
    width: calc(100vw - 40px);
}

#hello {
    margin: 180px 0 0 0;
    color: rgb(242, 64, 52);
    font-family: Arya;
    font-size: 150px;
    align-self: start;
}