html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    width: 100vw;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Apercu Pro;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    display: block;
}

/* || Background */
#background {
    z-index: -3;
    position: absolute;
    min-height: 100vh;
    height: auto;
    width: calc(100vw - 15px);
}

.lines {
    z-index: -3;
    background-color:rgb(239, 239, 239);
    position: fixed;
    margin: 0px;
    min-height: 100vh;
    height: auto;
    width: 1px;
}

.line1 {
    left: calc(50vw - 460px - 7.5px);
}

.line2 {
    left: calc(50vw - 230px - 7.5px);
}

.line3 {
    left: calc(50vw - 7.5px);
}

.line4 {
    left: calc(50vw + 230px - 7.5px);
}

.line5 {
    left: calc(50vw + 460px - 7.5px);
}

.color-background {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    height: 545px;
    width: 100vw;
    display: grid;
}

#orange {
    background-color: rgb(255, 171, 64);
}

.color-lines {
    z-index: 1;
    position: absolute;
    margin: 0px;
    height: 545px;
    width: 1px;
}

#orange-lines {
    background-color: rgb(240, 161, 59);
}

/* || Header */
#header {
    margin: 0;
    height: 80px;
    display: block;
    align-content: end;
    width: calc(100vw - 15px);
}

.header-tabs {
    color: white;
    font-size: 13px;
    margin: 0;
    top: 60px;
    height: 20px;
    cursor: pointer;
}

#logo {
    position: absolute;
    left: 30px;
    width: 60px;
}

#about-me {
    position: absolute;
    left: calc(100vw - 370px);
    width: 65px;
}

#gallery-drop-down {
    position: relative;
    display: inline-block;
    width: 55px;
    top: 56px;
    left: calc(100vw - 260px);
    cursor: pointer;
}

#gallery {
    color: white;
    z-index: 3;
    font-size: 13px;
}

#gallery-area {
    z-index: 1;
    display: none;
    position: absolute;
    top: -70px;
    left: -54.406px;
    height: 100px;
    width: 150px;
}
  
#gallery-content {
    z-index: 2;
    display: none;
    position: absolute;
    margin: 20px 0 0 0;
    top: -78px;
    left: -54.406px;
    background-color: white;
    height: 100px;
    width: 150px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    padding: 15px 0 15px 0;
}

#more-drop-down {
    position: relative;
    display: inline-block;
    width: 45px;
    top: 56px;
    left: calc(100vw - 210px);
    cursor: pointer;
}

#more {
    color: white;
    z-index: 3;
    font-size: 13px;
}

#more-area {
    z-index: 1;
    display: none;
    position: absolute;
    top: -70px;
    left: -54.406px;
    height: 100px;
    width: 150px;
}
  
#more-content {
    z-index: 2;
    display: none;
    position: absolute;
    margin: 20px 0 0 0;
    top: -78px;
    left: -54.406px;
    background-color: white;
    height: 100px;
    width: 150px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    padding: 15px 0 15px 0;
}

.drop-down-tabs {
    z-index: 4;
    font-family: Apercu Mono;
    font-size: 13px;
    margin: 15px 10px 10px 25px;
}

#gallery-drop-down:hover #gallery-content, #gallery-drop-down:hover #gallery-area{
    display: block;
    animation: drop_down_forward 0.5s forwards;
}

#more-drop-down:hover #more-content, #more-drop-down:hover #more-area{
    display: block;
    animation: drop_down_forward 0.5s forwards;
}

.drop-down-tabs:hover{
    background-color: lightgrey;
}

/* || Content */
#body-wrapper {
    margin: 0;
    display: grid;
    height: 100vh;
    width: calc(100vw - 15px);
}

#greating {
    color: white;
    font-family: Apercu Pro;
    font-size: 75px;
    position: absolute;
    top: 80px;
    left: 25px;
    height: 100px;
}

#picture {
    position: absolute;
    top: 320px;
    right: 0;
    height: 450px;
    width: auto;
}
.section-header {
    color: white;
    font-size: 18px;
    text-decoration: underline;
    position: absolute;
    left: 25px;
    cursor: pointer;
}

#portrait-header {
    top: 385px;
}

#landscape-header {
    top: 425px;
}

#arrow {
    position: absolute;
    top: 505px;
    left: 30px;
    height: 82px;
    width: 20px;
    cursor: pointer;
}

#arrow-1 {
    background-color: rgb(254, 240, 72);
    position: absolute;
    top: 0;
    left: 10px;
    height: 80px;
    width: 2px;
}

#arrow-2 {  
    border-bottom: solid 2px rgb(254, 240, 72);
    border-right: solid 2px rgb(254, 240, 72);
    position: absolute;
    top: 62px;
    left: -1px;
    transform: rotate(45deg);
    transform-origin: 50% 100%;
    height: 12px;
    width: 12px;    
}

#warning {
    position: absolute;
    top: 850px;
    left: calc(50vw - 460px - 7.5px + 20px);
    font-size: 32px;
    line-height: 2;
}

.sections {
    color: rgb(255, 171, 64);
    position: absolute;
    font-size: 144px;
    left: 100px;
}

.portraits-section {
    top: 1200px;
}

.landscapes-section {
    top: 2420px;
}

.image-wrapper {
    position: absolute;
    left: calc(50vw - 85% / 2 - 6.5px);
    height: auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}

.portraits-image-wrapper {
    top: 1520px;
}

.landscapes-image-wrapper {
    top: 2740px;
}

.column_1 {
    width: 100%;
    grid-column-start: 1;
}

.column_2 {
    width: 100%;
    grid-column-start: 2;
}

.column_3 {
    width: 100%;
    grid-column-start: 3;
}

.column_4 {
    width: 100%;
    grid-column-start: 4;
}

img {
    margin-bottom: 10px;
    height: auto;
    width: 100%;
    display: block;
    object-fit: cover;
}

.image-wrapper img:hover{
    opacity: 70%;
    cursor: pointer;
}



@keyframes drop_down_forward {
    from {
        opacity: 0;
        transform: translateY(0);
    }

    to {
        opacity: 100%;
        transform: translateY(88px);
    }
}
